.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
}
.login-box {
  border: 2px solid red;
}
.other-login {
  margin-top: 20px;
  border: 2px solid blue;
}

.loginfmt {
  outline: none;
}
